@import 'tailwindcss';

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Manrope', sans-serif;
  --color-dark: #1B1C21;
  --color-light: #FFFFFC;
  --color-accent: #A62F2F;
}

body {
  font-family: var(--font-sans);
  color: var(--color-dark);
  background-color: var(--color-light);
}